<div ng-controller="homeController" style="height: 100%; font-size: 0px">
    <div class="view-wrapper" ng-class="{'half': uploadedFile}">
        <div class="view-wrapper-background" ng-class="{'blurred': blurredBackground}"></div>
        <div class="upload-section" ng-class="{'visible': visibleUploadSection}">
            <h1>Welcome to Carlow</h1>
            <p>Please upload a file to see statistics about it</p>

            <div class="upload-button" ngf-select="uploadFile($file)" ngf-multiple="false">Upload</div>
        </div>
    </div>
    <div class="details-wrapper" ng-class="{'visible': uploadedFile}">
        <div class="section one" ng-click="getData('sources')">
            <div class="section-title" ng-click="toggleSection('sources')">Sources</div>
            <div class="content">
                <div>{{ sources.message }}</div>


                <div>{{ sources.data }}</div>
                
            </div>
        </div>
        <div class="section two" ng-click="getData('topics')">
            <div class="section-title" ng-click="toggleSection('topics')">Topics</div>

            <div class="content" >
                 <div>{{topics.message}}</div>

                 
            </div>
        </div>
        <div class="section three" ng-click="getData('sentiment')">
            <div class="section-title" ng-click="toggleSection('ner')">Sentiment Analysis</div>

            <div class="content">
                {{ sentiments.message }}

                <div>{{sentiments.data[0].m_predictedClass}}</div>
                <div>{{sentiments.data[0].m_classifierAccuracy}}</div>
                <div>{{sentiments.data[0].m_probability}}</div>
            </div>
        </div>
        <div class="section four" ng-click="getData('ner')">
            <div class="section-title" ng-click="toggleSection('ner')">NER</div>

            
            <div class="content" ng-if="ner">

                <div ng-repeat="class in ner track by $index" >
                    <div ng-repeat="(key, val) in class track by $index">
                        {{key}} : {{val}}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
